{% extends "base_templates/base.html" %}
{% load static %}

{% block title %}{{ page_title }}{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/colors.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/form_company.css' %}">
<script src="{% static 'js/dynamic-form.js' %}"></script>
{% endblock %}

{% block content %}

<div id="section">
  <form method="post">
    {% csrf_token %}
    <!-- Display LimitedLiabilityCompany fields -->
    <div class="form-container">
      <label>Company name:</label>
      {{ form.name }}
      {% if form.name.errors %}
      <div class="error-message">
        <span class="error-text">{{ form.natural_person.errors }}</span>
      </div>
      {% endif %}

      <label>Registration code:</label>
      {{ form.registration_code }}
      {% if form.registration_code.errors %}
      <div class="error-message">
        <span class="error-text">{{ form.registration_code.errors }}</span>
      </div>
      {% endif %}

      <label>Establishment date:</label>
      {{ form.establishment_date }}
      {% if form.establishment_date.errors %}
      <div class="error-message">
        <span class="error-text">{{ form.establishment_date.errors }}</span>
      </div>
      {% endif %}

      <label>Total capital size:</label>
      {{ form.total_capital_size }}
      {% if form.total_capital_size.errors %}
      <div class="error-message">
        <span class="error-text">{{ form.total_capital_size.errors }}</span>
      </div>
      {% endif %}
    </div>

    <!-- Display Shareholder formset -->
    <h2>Shareholders:</h2>

    {{ formset.management_form }}

    <div id="shareholder-form-list">
      {% for form in formset.forms %}

      <div class="shareholder-form">

        {% for field in form %}

        {% if field.field.widget.input_type != 'hidden' %}

        {{ field.label_tag }}
        {{ field }}
        {% if field.errors %}
        <div class="error-message">
          <span class="error-text">{{ field.errors }}</span>
        </div>
        {% endif %}

        {% else %}
        {{ field }}
        {% endif %}

        {% endfor %}

        {% if form.non_field_errors %}
        <div class="error-message">
          <span class="error-text">{{ form.non_field_errors }}</span>
        </div>
        {% endif %}
        <hr>
      </div>
      {% endfor %}
    </div>

    <div id="empty-form" class="hidden">
      {{ formset.empty_form.as_table }}
      <button type="button" class="remove-form-button">Remove</button>
      <hr>
    </div>

    <button id="add-more" type="button">Add More Shareholders</button>


    <button type="submit">Save</button>
  </form>
</div>
{% endblock %}