{% extends "base_templates/base.html" %}
{% load static %}

{% block title %}Company Details{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/company_detail.css' %}">{% endblock %}
{% block content %}


<div id="section">
    <div class="flex-container">
        <h1>{{ company.name }}</h1>
        <a href="{% url 'edit_company' company.id %}">
            <img class="image" src="{% static 'media/icons/edit.png' %}" alt="Edit">
        </a>
    </div>

    <p>Registration Code: {{ company.registration_code }}</p>
    <p>Establishment Date: {{ company.establishment_date }}</p>
    <p>Total Capital Size: {{ company.total_capital_size }} €</p>
    <!-- Add more company details as needed -->

    <h2>Shareholders:</h2>
    <ul>
        {% for shareholder in shareholders %}
        <li>
            <strong>Shareholder Name:
                {% if shareholder.natural_person %}
                {{ shareholder.natural_person.first_name }} {{ shareholder.natural_person.last_name }} (Natural Person)
                {% elif shareholder.legal_entity %}
                {{ shareholder.legal_entity.name }} (Legal Entity)
                {% endif %}
            </strong>
            {% if shareholder.legal_entity %}
            <p>Registration code: {{ shareholder.legal_entity.registration_code }}</p>
            {% endif %}
            <p>Share Count: {{ shareholder.share_count }} €</p>
            <p>Is Founder: {% if shareholder.is_founder %}Yes{% else %}No{% endif %}</p>
            <!-- Add more shareholder details as needed -->
        </li>
        {% empty %}
        <p>No shareholders found.</p>
        {% endfor %}
    </ul>
</div>


{% endblock %}
