{% extends "base_templates/base.html" %}

{% load static %}

{% block title %}Establish a Limited Liability Company{% endblock %}

{% block head %}<link rel="stylesheet" type="text/css" href="{% static 'css/establish-company.css' %}">{% endblock %}


{% block content %}
    &nbsp;
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {{ formset.management_form }}
    
        <!-- Shareholder forms -->
        {% for form in formset.forms %}
            {{ form.as_table }}
        {% endfor %}
    
        <input type="submit" value="Save">
    </form>
    
{% endblock %}

