{% extends "base_templates/base.html" %}
{% load static %}

{% block title %}Establish a Limited Liability Company{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/colors.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/establish-company.css' %}">

<script src="{% static 'js/establish-company.js' %}"></script>

{% endblock %}

{% block content %}


<!-- This is used to get constraints related errors -->
<!-- {{ form.non_field_errors }} -->

<div class="container">
    <form method="post">
        {% csrf_token %}

        <div class="form-container">
            <label>Company name:</label>
            {{ form.name }}
            {% if form.name.errors %}
                <div class="error-message">
                    <span class="error-text">{{ form.natural_person.errors }}</span>
                </div>
            {% endif %}

            <label>Registration code:</label>
            {{ form.registration_code }}
            {% if form.registration_code.errors %}
            <div class="error-message">
                <span class="error-text">{{ form.registration_code.errors }}</span>
            </div>
            {% endif %}

            <label>Establishment date:</label>
            {{ form.establishment_date }}
            {% if form.establishment_date.errors %}
                <div class="error-message">
                    <span class="error-text">{{ form.establishment_date.errors }}</span>
                </div>
            {% endif %}

            <label>Total capital size:</label>
            {{ form.total_capital_size }}
            {% if form.total_capital_size.errors %}
                <div class="error-message">
                    <span class="error-text">{{ form.total_capital_size.errors }}</span>
                </div>
            {% endif %}
        </div>

        <!-- Renders the management form for the formset, 
        providing metadata necessary for processing multiple forms on the same page. -->
        {{ formset.management_form }}

        <!-- Shareholder forms -->
        <div id="shareholder-forms" data-prefix="{{ formset.prefix }}">
            {% for form in formset.forms %}
            <div class="form-container">
                <label>Natural person:</label>
                <td>{{ form.natural_person }}</td>
                {% if form.natural_person.errors %}
                <div class="error-message">
                    <span class="error-text">{{ form.natural_person.errors }}</span>
                </div>
                {% endif %}

                <label>Legal entity:</label>
                <td>{{ form.legal_entity }}</td>
                {% if form.legal_entity.errors %}
                <div class="error-message">
                    <span class="error-text">{{ form.legal_entity.errors }}</span>
                </div>
                {% endif %}

                {% if form.non_field_errors %}
                <div class="error-message">
                    <span class="error-text">{{ form.non_field_errors }}</span>
                </div>
                {% endif %}

                <label>Share count</label>
                <td>{{ form.share_count }}</td>
                {% if form.share_count.errors %}
                <div class="error-message">
                    <span class="error-text">{{ form.share_count.errors }}</span>
                </div>
                {% endif %}
            </div>

            <hr>
            {% endfor %}
        </div>

        <button type="button" id="add-shareholder">Add More Shareholders</button>
        <button style="margin:20px 0 20px 0; display: block;" type="submit">Submit</button>
    </form>

    <!-- Empty shareholder form template -->
    <!-- This is important part to build more dynamic forms related to the Shareholders -->
    <div id="empty-form" style="display: none;">
        {{ formset.empty_form.as_table }}
    </div>
</div>
{% endblock %}