{% extends "base_templates/base.html" %}
{% load static %}

{% block title %}Establish a Limited Liability Company{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/establish-company.css' %}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/establish-company.js' %}"></script>
{% endblock %}

{% block content %}
<script>
    $(document).ready(function () {
        // Function to show/hide fields and clear their values based on founder status
        function toggleShareholderFields() {
            var founderStatus = $("#founder_status").val();
            if (founderStatus === "Natural") {
                $("#id_shareholder_set-0-legal_entity, label[for='id_shareholder_set-0-legal_entity']").css("display", "none");
                $("#id_shareholder_set-0-natural_person, label[for='id_shareholder_set-0-natural_person']").css("display", "block");
                // Clear the values of the legal entity fields
                $("#id_shareholder_set-0-legal_entity").val("");
            } else {
                $("#id_shareholder_set-0-natural_person, label[for='id_shareholder_set-0-natural_person']").css("display", "none");
                $("#id_shareholder_set-0-legal_entity, label[for='id_shareholder_set-0-legal_entity']").css("display", "block");
                // Clear the values of the natural person fields
                $("#id_shareholder_set-0-natural_person").val("");
            }
        }

        // Initial state on page load
        toggleShareholderFields();

        // Listen for changes in founder status dropdown
        $("#founder_status").on("change", function () {
            toggleShareholderFields();
        });
    });
</script>

&nbsp;
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    {{ formset.management_form }}

    <hr>

    <!-- Shareholder forms -->
    <div id="shareholder-forms">
        <label for="founder_status">Status of the Shareholder:</label>
        <select id="founder_status" name="founder_status">
            <option value="Natural" selected>Natural</option>
            <option value="Legal">Legal</option>
        </select>

        {% for form in formset.forms %}

        <div class="form-container">
            {{ form.as_table }}
        </div>

        <hr>
        {% endfor %}
    </div>
    <button style="margin:20px 0 20px 0; display: block;" type="button" id="add-shareholder">Add More
        Shareholders</button>
    <button style="margin:20px 0 20px 0; display: block;" type="submit">Submit</button>
</form>

<!-- Empty shareholder form template -->
<div id="empty-form" style="display: none;">
    {{ formset.empty_form.as_table }}
</div>
{% endblock %}