/* Define your color palette here */
:root {
    --primary-bg-color: #000000;
    --search-input-bg: #ffffff;
    --search-input-border: #dfe1e5;
    --error-background-color: #fce4e4;
    --error-text-color: #cc0033;
    --black: #000000;
    --white: #ffffff;
}
