#section {
    background-color: white;
    width: 840px;
    border-radius: 15px;
    margin: 57px auto;
    padding: 30px; /* Added 30px padding inside the section */
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -20px;
}

.image {
    height: 30px;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="number"],
select {
    background-color: white;
    width: 100%;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    /* margin-bottom: 15px; */
    box-sizing: border-box;
}
