* {
    font-family: 'EurostileExtended', sans-serif;
}

body {
    background-color: black;
    background-image: url("/static/media/home/background.png");
}

#search-container {
    position: relative;
    text-align: center;
    margin-top: 40px;
}

#search-form {
    display: inline-block;
}
