* {
    font-family: 'EurostileExtended', sans-serif;
}

body {
    background-color: black;
}

label {
    margin-top: 10px;
    font-weight: bold;
    display: block;
}

a {
    text-decoration: none;
}

.wide-input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 11px;
}
