* {
    font-family: 'EurostileExtended', sans-serif;
}

body {
    background-color: black;
}

.wide-input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 11px;
}
