<!DOCTYPE html>
<html>
<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'media/favicon/favicon.png' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/colors.css' %}">
    
    {% block head %}{% endblock %}

    <title>{% block title %}Company Search{% endblock %}</title>
</head>
<body>

    {% include 'base_templates/navbar.html' %}

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    

    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% block extra_js %}{% endblock %}"></script>
</body>



</html>

