{% load static %}

{% block head %}<link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">{% endblock %}

<div class="container">
    <div class="navbar">
        <a href="{% url 'home' %}" id="logo-section" class="nav-link">
            <img src="{% static 'media/navbar/Umbrella_Corporation_logo.png' %}" alt="Your Image Description">
            <div id="separator"></div>
            <img src="{% static 'media/navbar/Umbrella_Corporation_name.png' %}" alt="Your Image Description">
        </a>
        <div id="options-section">
            <p><a href="{% url 'home' %}" class="nav-link {% if request.path == '/' %}active{% endif %}">Home</a></p>         
            <p><a href="{% url 'establish_company' %}" class="nav-link {% if request.path == '/establish' %}active{% endif %}">Establish</a></p>         

            <img src="{% static 'media/navbar/search.png' %}" alt="Your Image Description">
            <div id="separator"></div>
            <img src="{% static 'media/navbar/Globe.png' %}" alt="Your Image Description">
            <p style="margin-left: 10px; margin-top: 3px;">English</p>
        </div>
    </div>
</div>
