{% extends "base_templates/base.html" %}

{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
<script src="{% static 'js/home.js' %}"></script>

    <!-- Include particles.js script -->
    <script src="{% static 'particles/particles.js' %}"></script>
    <div id="particles-js"></div>

    <script>
        particlesJS('particles-js', {
           "particles": {
               "number": {
                   "value": 170,
                   "density": {
                       "enable": true,
                       "value_area": 800
                   }
               },
               "color": {
                   "value": "#ff0000"
               },
               "shape": {
                   "type": "circle",
                   "stroke": {
                       "width": 0,
                       "color": "#000000"
                   },
                   "polygon": {
                       "nb_sides": 5
                   },
                   "image": {
                       "src": "img/github.svg",
                       "width": 100,
                       "height": 100
                   }
               },
               "opacity": {
                   "value": 0.4,
                   "random": false,
                   "anim": {
                       "enable": false,
                       "speed": 1,
                       "opacity_min": 0.1,
                       "sync": false
                   }
               },
               "size": {
                   "value": 5,
                   "random": true,
                   "anim": {
                       "enable": false,
                       "speed": 1,
                       "size_min": 0.1,
                       "sync": false
                   }
               },
               "line_linked": {
                   "enable": true,
                   "distance": 150,
                   "color": "#ff0000",
                   "opacity": 0.4,
                   "width": 1
               },
               "move": {
                   "enable": true,
                   "speed": 6,
                   "direction": "none",
                   "random": false,
                   "straight": false,
                   "out_mode": "out",
                   "bounce": false,
                   "attract": {
                       "enable": false,
                       "rotateX": 600,
                       "rotateY": 1200
                   }
               }
           },
           "interactivity": {
               "detect_on": "canvas",
               "events": {
                   "onhover": {
                       "enable": true,
                       "mode": "repulse"
                   },
                   "onclick": {
                       "enable": false,
                       "mode": "push"
                   },
                   "resize": true
               },
               "modes": {
                   "grab": {
                       "distance": 400,
                       "line_linked": {
                           "opacity": 1
                       }
                   },
                   "bubble": {
                       "distance": 200,
                       "size": 4,
                       "duration": 2,
                       "opacity": 0.5194473080642195,
                       "speed": 3
                   },
                   "repulse": {
                       "distance": 90,
                       "duration": 0.4
                   },
                   "push": {
                       "particles_nb": 4
                   },
                   "remove": {
                       "particles_nb": 2
                   }
               }
           },
           "retina_detect": true
       });
    </script>
    
{% endblock %}

{% block content %}
<div id="slogan-container">
    <img src="{% static 'media/home/future_is_here.png' %}" alt="Your Image Description">

    <div id="search-container">
        <div>
            <input type="text" class="wide-input" id="search-input" name="q" placeholder="Search for companies...">
        </div>

        <div class="buttons-section">
            <button type="button" class="button" id="search-button" onclick="searchCompanies()">Company Info Search</button>
            <a href="{% url 'establish_company' %}"><button type="submit" class="button" id="establish-button">Establish Company</button></a>
        </div>
    </div>
</div>





{% endblock %}
