{% extends "base_templates/base.html" %}

{% load static %}

{% block content %}
    <div id="search-container">
        <div>
            <div id="quote-section">
                <h1 id="slogan">Storybook - more efficient business!</h1>
                <p id="slogan">Information about 123 287 030 companies and 4 829 job offers.</p>
            </div>

            <input type="text" id="search-input" name="q" placeholder="Search for companies...">
        </div>

        <div class="buttons-section">
            <button type="button" class="button" id="search-button" onclick="searchCompanies()">Company Info Search</button>
            <a href="{% url 'establish_company' %}"><button type="submit" class="button" id="establish-button">Establish Company</button></a>
        </div>
    </div>

    <script src="{% static 'js/myscript.js' %}"></script>
{% endblock %}
